<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Try CSS here!</title>
    <style>
        div{
            color: #3b3a36;
            background-color: #b3c2bf;
            border: 5px solid #3b3a36;
            border-radius: 5px;
            text-align: center;
            padding: 20px;
        }
        .main-text{
            font-size: 100px;
            margin-top: 80px;
        }

        .box-text{
            font-size: 50px;
            background-color: #fff;
            border: 0;
            font-family: 'Courier New', Courier, monospace;
        }
    </style>
</head>
<body>
    <div class="main-text">
        AEC Coding Club
    </div>
    <div class="box-text">
        Web Development Sessions
    </div>

</body>
</html>